@model RecipeApp.Models.Favorites

<h3>@ViewBag.resulttext</h3>

<a asp-controller="RecipeOperations" asp-action="ListAll" class="btn btn-primary">Back to the Recipe List</a>
<a asp-controller="Favorites" asp-action="Index" class="btn btn-primary">Look at Your Favorites</a>