@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the RecipeApp!</h1>
    <p>This is an app to help you search recipes.</p>
</div>
<div class="center-div">
    <img src="~/images/RecipeAppLogo.png" alt="RecipeAppLogo" width="250" height="250" class="center-img" >
</div>
