@{
    ViewData["Title"] = "Developers of This App";
}
<h1>@ViewData["Title"]</h1>

<p>2017502063 Alara Balaman</p>
<p>2017502162 Oğuz Bilkay</p>
<p>2017502126 Ertuğ Tetik</p>
<p>2016502210 Emin Musaiev</p>
<p>2017502093 Seda Akçam</p>
<p>2017502240 Hakan Tuncoğlu</p>
