@model IEnumerable<RecipeApp.Models.Recipes>
@{
    ViewData["Title"] = "SearchResultsIng";
}

<h1>SearchResultsIng</h1>

@foreach (var item in Model)
{
    <p>
        @item.Name
        <a href="@Url.Action("Details","RecipeOperations",new { id = item.Id })">Details</a>
    </p>

}
<a asp-action="SearchByIng" class="btn btn-primary">Search Again</a>
<a asp-action="Search" class="btn btn-primary">Search with a Different Method</a>

