@model IEnumerable<RecipeApp.Models.Recipes>
@{
    ViewData["Title"] = "SearchResultsIngIncludes";
}

<h1>SearchResultsIngIncludes</h1>

@foreach (var item in Model)
{
    <p>
        @item.Name
        <a class="btn btn-primary" href="@Url.Action("Details","RecipeOperations",new { id = item.Id })">Details</a>
    </p>

}
<a asp-action="SearchByIngIncludes" class="btn btn-primary">Search Again</a>
<a asp-action="Search" class="btn btn-primary">Search with a Different Method</a>

